* {
    padding: 0;
    margin:0;
}

body{
    background-color: #F3F5FC;
    font-family: "inter", sans-serif;
}

.logo{
    width: 5%;
}

.logo img{
    display: flex;
    justify-content: center;
    padding-left: 2.3em;
    padding-top: 2.3em;
    padding-top: 2.3em;
    align-items: flex-start;
} 

main{
    flex-direction: row;
    display: flex;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.contenedor_entrada-msj{
    display: flex;
    width: 60vw;
    padding-top: 15vh;
    justify-content: center;
}

.contenedor_textarea{
    width: 90%;
}

.text_area_in{
    resize: none;
    background: transparent;
    border: none;
    height: 60vh;
    padding: 0%;
    color: #0A3871;
    font-size: 2em;
    font-weight: 400;
    width: 100%;
    font-weight: 500;
}
::placeholder{ color:#0A3871;}
.text_area_in:focus{
    outline: none;
}

.botones p{
    font-weight: 500;
    color: #495057;
    display: flex;
}

.informacion{
    padding-right: 0.25em;
}

.botones{
    gap: 1em;
    padding-top: 1em;
    flex-direction: column;
    display: flex;
}

main button{
    padding: 1.5em;
    width: 100%;
    border-radius: 24px;
    border: none;
    border: 2px solid #0A3871;
    transition: border-color 250ms, backgraund-color 250ms;
}

.contenedor_only_botones{
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.btn_encriptar{
    color: #fff;
    background-color: #0A3871;
    font-weight: 500;
    cursor: pointer;
}

.btn_desencriptar{
    background-color: transparent;
    color: #0A3871;
    font-weight: 500;
    border: 2px solid #0A3871;
    cursor: pointer;
}
.btn_encriptar:hover{
    border-color: #132a46;
    background-color: #002a5c;
}
.btn_desencriptar:hover{
    background-color: #c6c8ca;
}

.contenedor_salida_msj{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30vw;
}

.contenedor_resultado{
    justify-content: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0em 0em 2em 0.1em #00000030;
    border-radius: 2em;
    -webkit-box-shadow: 0em 0em 2em 0.1em #00000030;
    -moz-box-shadow: 0em 0em 2em 0.1em #00000030;
    height: 90vh;
    width: 75%;
}

.contenedor_mensaje{
    margin-top: 3em;
    overflow: auto;
}

.text_area_out{
    width: 100%;
    height: 60vh;
    font-weight: 400;
    font-size: 1.5em;
    color: #0A3871;
    resize: none;
    background: transparent;
    border: none;
}
.text_area_out:focus{
    outline: none;
}

.contenedor_encontrado button{
    margin-bottom: 2em;
}

.contenedor_textos_no_encontrado,
.contenedor_encontrado{
    padding: 2em;
}

.contenedor_encontrado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    display: none;
}

.contenedor_textos_no_encontrado img{
    width: 100%;
}

.btn-copiar{
    background-color: transparent;
    color: #0A3871;
    font-weight: 500;
    border: 2px solid #0A3871;
    margin-top: 4em;
}
.btn-copiar:hover{
    background-color: #d8dfe8;
}

.contenedor_mensaje{
    max-height: 100vh;
    overflow: auto;
}

.contenedor_textos_no_encontrado p{
    padding-top: 1em;
}

.contenedor_textos_no_encontrado{
    text-align: center;
}

.footer{
    color:  rgb(1, 1, 100);
    background-color:#D8DFE8;;
    padding: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1400px){
    .contenedor_entrada-msj{
        width: 50vw;
    }
    .contenedor_salida_msj{
        width: 40vw;
    }
}


@media screen and (max-width: 1023px) {
    main{
        flex-direction: column;
    }
    .contenedor_entrada-msj, .contenedor_salida_msj, .logo{
        width: 100%;
    }
    .logo{  
        justify-content: flex-start;
    }
    .logo img{
        padding-left: 2em;
    }
    .contenedor_entrada-msj{
        padding-top: 5vh;
    }

    .contenedor_textarea{
        width: 100%;
        padding: 2em;
    }
    .text_area_in{
        height: 50vh;
    }
    .contenedor_resultado{
        width: 100%;
        height: auto;
        margin: 2em;
    }

    .contenedor_mensaje{
        max-height: 65vh;
    }

    .text_area_out{
        height: 50vh;
        width: 80vw;
        
    }
    .contenedor_encontrado button{
        margin-bottom: 0;
    }

    .contenedor_textos_no_encontrado img {
        display: none;
    }

    .text_area_out:focus{
        border: none;
    }
}

@media screen and (max-width:767px) {
    .informacion{
        width: 5%;
    }
    .contenedor_only_botones{
        flex-direction: column;
    }
    .contenedor_textos_no_encontrado img {
        display: none;
    }
    .logo{  
        justify-content: flex-start;
    }
    .logo img{
        padding-left: 2em;
    }

}

